[submodule "ext/glfw"]
	path = ext/glfw
	url = https://github.com/glfw/glfw.git
	branch = master
[submodule "ext/ctti"]
	path = ext/ctti
	url = https://github.com/Manu343726/ctti.git
	branch = master
[submodule "ext/httplib"]
	path = ext/httplib
	url = https://github.com/yhirose/cpp-httplib.git
	branch = master
[submodule "ext/glad"]
	path = ext/glad
	url = https://github.com/Dav1dde/glad.git
	branch = glad2
[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "ext/hashmap"]
	path = ext/hashmap
	url = https://github.com/greg7mdp/parallel-hashmap.git
	branch = master
[submodule "ext/json"]
	path = ext/json
	url = https://github.com/nlohmann/json.git
	branch = develop
[submodule "ext/glm"]
	path = ext/glm
	url = https://github.com/g-truc/glm.git
	branch = master
[submodule "ext/remotery"]
	path = ext/remotery
	url = https://github.com/Celtoys/Remotery.git
	branch = main
[submodule "ext/argparse"]
	path = ext/argparse
	url = https://github.com/hendrik-skubch/argparse.git
